<html>
    <head>
        <title>Logout</title>
        <style>
            body {

            background-image: url('https://static.wikia.nocookie.net/matrix/images/2/23/Smith_Tries_To_Relate.jpg/revision/latest/scale-to-width-down/1248?cb=20211226142808');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            height: 100%;
            }
        </style>
    </head>
    <body>
        <center><h1>Schlaf Gut</h1></center>
    </body>
</html>