<html>
<head>
    <title>	&#x1F388; Ende</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        figure {
            text-align: center; 
          }
        .figuren {
                    display: flex;
                    margin: 0 auto;
                }


    </style>
</head>

<body>
    <center><h1>Herzlichen Glückwunsch du hast den Ausgang gefunden.</h1>
    <p>Blöderweise haben wir aber den Schlüssel vergessen</p>
    <p>Vieleicht helfen dir diese 4 netten Menschen ja weiter</p>
</center>
    

<a href="http://127.0.0.1:5000/werbung" title="1&1" ><img src="https://www.1und1.de/_Resources/Persistent/b465a6e0655b2f251c33ed71f150eec9a6f7e8ac/preiskachel-s22-sommerspecial.svg" alt="1&1" style="border:0px;" align="left" ></a></body></br>

</a>

<center><p>Grußkarte</p>
<p>Olhehu Oxfd zlu züqvfkhq glu doohv Jxwh Qdfkwuäjolfk Cx ghlqhp 17 Jhexuwvwdj. Zlu kriihq, gx kdwwhvw Vsdß ehl glhvhp Uäwvho.Olheh Juüßh Wkrpdv, Ghdq, Pdwwlv xqg Ilqq</p></center>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<center><img src="https://sm.ign.com/t/ign_de/screenshot/default/sheldongreen_fs6g.1280.jpg" height="250" width="400">
<p>Btw. du sitzt auf meinem Platz, bitte setz dich 3 Plätze zu meiner rechten</center>
<script>
    var s = sessionStorage.getItem('buttonClicked');
    if (s != 0512) {
            window.location.replace("http://127.0.0.1:5000/troll.html")
        }
</script>
</body>
</html>