<html>
<head>
    <title>	&#x1F388; Ende</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        figure {
            text-align: center; 
          }
        .figuren {
                    display: flex;
                    margin: 0 auto;
                }


    </style>
</head>

<body>
    <center><h1>Herzlichen Glückwunsch du hast den Ausgang gefunden.</h1>
    <p>Blöderweise haben wir aber den Schlüssel vergessen</p>
    <p>Vieleicht helfen dir diese 4 netten Menschen ja weiter</p>
</center>
    

<a href="http://127.0.0.1:5000/werbung" title="1&1" ><img src="https://www.1und1.de/_Resources/Persistent/b465a6e0655b2f251c33ed71f150eec9a6f7e8ac/preiskachel-s22-sommerspecial.svg" alt="1&1" style="border:0px;" align="left" ></a></body></br>

</a>

<div class="figuren">
 <figure>
    <img src="https://www.pngmart.com/files/12/Han-Solo-Transparent-Background.png" height="100" width="100">
    <figcaption><b>H</b>an Solo </figcaption>
 </figure>

 <figure>
    <img src="https://freepikpsd.com/file/2019/10/gta-v-michael-png-Transparent-Images.png" height="100" width="100">
    <figcaption><b>M</b>ichael </figcaption>
 </figure>

<figure>
    <img style="width:auto;" src="https://static.wikia.nocookie.net/characters/images/0/0f/Arthur_Morgan.png/revision/latest?cb=20190805102403" height="100" width="150">
    <figcaption><b>A</b>rthur Morgan </figcaption>
</figure>

<figure>
    <img src="https://www.pngkit.com/png/full/2-22941_captain-america-looking-at-you-capitan-america-con.png" height="100" width="100">
    <figcaption><b>C</b>aptain America </figcaption>
</figure>
</div>

<center><p>Grußkarte</p>
<p>wNvdjohOEajyq2P/g9IqsjoTvDjj4yjn4uo432CRqL+BsbXxd/azoGPWXsyN6bLi4PKhvX6tKIIWWpuiaAqQUA==</p></center>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<center><img src="https://sm.ign.com/t/ign_de/screenshot/default/sheldongreen_fs6g.1280.jpg" height="250" width="400">
<p>Btw. Du Sitzt auf meinem Platz</center>
<script>
    var s = sessionStorage.getItem('buttonClicked');
    if (s != 512) {
            window.location.replace("http://127.0.0.1:5000/troll.html")
        }
</script>
</body>
</html>