<html> 
    <head>
        <title>&#x26D1;&#xFE0F; Selbsthilfe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <center><h1>Selbsthilfe Gruppe für SQL Junkies</h1><center>
            <img src="../static/img/sql1.png" height="100" width="400">
            <img src="../static/img/sql2.png" height="100" width="400">
            <p>&#x2B07;</p>
            <img src="../static/img/table.png" height="100" width="400">
            

        
    </body>
</html>